<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
  </head>

  <body>
    <style>
      body, html
      {background: linear-gradient(180deg, #088c6a, #34088c, #8c0808, #084b8c);
background-size: 800% 800%;

-webkit-animation: BackgroundGradient 30s ease infinite;
-moz-animation: BackgroundGradient 30s ease infinite;
animation: BackgroundGradient 30s ease infinite;
        width:100%;
        height:100%;
        display:flex;
        overflow:scroll;
        flex-direction:column;
        align-items:center;
        justify-content:center;
      }
      @-webkit-keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes BackgroundGradient { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
      .slide
      {
        width: 480px;
        max-width: 480px;
        min-height:240px;
        max-height:75%;
        height:auto;
        overflow: visible;
      }
      .slide-actions{
        position: fixed;
        bottom:0;
        right:0;
        width:100%;
        height:auto;
        font-size:4vw;
      }
      .slide-content
      {
        overflow-y: visible;
        margin-bottom:20px;
      }
      #app
{
  margin:0; 
  padding:0; 
          -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
text-decoration: none;
}
.year
{
  opacity:.5;
  font-size:10px;
}
.toolbar
{
  position: sticky;
}
.fulltoolbar
{
  height:100%;
  min-height:100%;
  position:absolute;
  width:100%;
  top:0;
  word-wrap:break-word;
  text-wrap:normal;
  overflow-wrap: break-word;
  left:0;
}
.wrap
{
  word-wrap:break-word;
  text-wrap:normal;
  text-overflow: clip;
  text-align:center;
  width:100%;
  font-weight:normal;
  overflow-wrap: break-word;
}
.wr
{
}
.media
{
  height:120px;
  overflow:hidden;
}
    </style>
    <div id="app">
      
    
    <md-card class="slide md-elevation-24">
      <md-card-media v-if='media != ""' class="media">
        <img :src="media" ></img>
      </md-card-media>
      <md-toolbar class="toolbar md-primary" v-bind:class="{ fulltoolbar: slideContent == '' }" md-elevation="0">
      <h3 class="wrap" v-bind:class="{ wr: slideContent == '' }">{{slideToolbarText}}</h3>
    </md-toolbar>
<md-card-header><div class="md-title" v-html="slideTitle"></div></md-card-header>
      <md-card-content v-html="slideContent" class="slide-content">
      </md-card-content>
      <md-card-actions class="slide-actions md-elevation-24">
        <md-button v-on:click="prev" class="md-primary" v-bind:disabled="firstSlide" >Prev</md-button>
        <md-button v-on:click="next" class="md-primary" v-bind:disabled="lastSlide" >Next</md-button>
      </md-card-actions>
      
    </md-card>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
      Vue.use(VueMaterial.default);

      var app = new Vue({
        el: '#app',
        data: {
          firstSlide: true,
          lastSlide: false,
          slideToolbarText: "",
          slideTitle: "",
          slideContent: "",
          media: "",
          slides: [
          {toolbarText: "Domestic Abuse", title: "", content: "Presented by Kayla Spur and Jordon Gulley.<br>Presentation Programmed and designed by Jordon Gulley.<br><p class='year'>May 2018</p>", media: ""},
          
          {toolbarText: "About Domestic Abuse", title: "What is Domestic Abuse?", content: "Domestic Abuse is violence or harm by one person against someone in a domestic environment, such as in a marriage or other commitments. It can be called “Intimate partner violence” when done to spouse or partner in a long term relationship. It can be classified into a number of groups such as Physical, Verbal, Emotional, Religious, and more.", media: ""},
          
          {toolbarText: "About Domestic Abuse", title: "Historical Background", content: 'Domestic Violence has been visible throughout history. For example, the phrase "rule of thumb" referred Domestic Abuse to the English common law, which allowed a husband to beat his wife as long as he used a stick that was no bigger than his thumb.', media: "stick.jpg"},
          
          {toolbarText: "Questions", title: "In a poll of 26 people, these are the results! ", content: `<h3>What types of people experience abuse?</h3><p>Children: 87%</p><p>Women: 95.7%</p><p>Men: 87%</p><p>People with Disabilities: 91.3%</p>
          <h3>Can domestic violence be verbal?</h3>
          <p>Yes: 82.6%</p>
          <p>No: 8.3%</p>
          <p>I don't know: 8.3%</p>
          <h3>Do you think you could be in this situation?</h3>
          <p>Yes: 38.5%</p>
          <p>No: 19.2%</p>
          <p>I don't know: 42.3%</p>
          `          , media: ""
          },
          {toolbarText: "How are people trying to stop domestic abuse?", title: "", content: "", media: ""},
          {toolbarText: "NDVH", title: "", content: "The Nation Domestic Violence Hotline is an organization that works to prevent and stop domestic violence. They also help victims of domestic violence.<br><a href='thehotline.org'>thehotline.org</a>", media: "hotline.png" },
          {toolbarText: "DAIS", title: "Domestic Abuse Intervention Services", content: "DAIS is an organization that helps people get out of abusive relationships; they also allow people to join the organization and help fight against domestic violence.<br><a href='https://abuseintervention.org/'>abuseintervention.org</a>", media: "dais.jpg"},
          {toolbarText: "Thanks for listening!", title: "😀", content: "Presented by Kayla Spur and Jordon Gulley.<br>Presentation programmed and designed by Jordon Gulley.", media: ""},
          {toolbarText: "Works Cited", title: "", content: '<iframe src="https://docs.google.com/a/k12.prosper-isd.net/document/d/e/2PACX-1vRFTbUWki9P5UDMdKWZi5xx_F9GPz_PsatkUq_AzNhjLl0TG0QQIIY-ZiQsoLtoxjmvvEt_qIbWI_Mp/pub?embedded=true"></iframe>', media: ""}
          
          //{toolbarText: "", title: "", content: ""}
                  ],
          currentSlide: -1,
        },
        computed: {
  full: function () {
    if(this.slideTitle != "" && this.slideContent != "")
    {
      return true;
    }
    else
    {
      return false;
    }
  },
  notfull: function () {
    if(this.slideTitle == "" && this.slideContent == "")
    {
      return true;
    }
    else
    {
      return false;
    }
  }
},
        methods:
        {
          prev: function()
          {
              this.currentSlide--;
              this.slideToolbarText = this.slides[this.currentSlide].toolbarText;
              this.slideTitle = this.slides[this.currentSlide].title;
              this.slideContent = this.slides[this.currentSlide].content;
              this.media = this.slides[this.currentSlide].media;
              if(this.currentSlide == 0)
              {
                this.firstSlide = true;
                this.lastSlide = false;
              }
              else
              {
              this.firstSlide = false;
                this.lastSlide = false;
              }
          },
          next: function()
          {
            if(this.currentSlide+1 < this.slides.length)
            {
              this.currentSlide++;
              this.slideToolbarText = this.slides[this.currentSlide].toolbarText;
              this.slideTitle = this.slides[this.currentSlide].title;
              this.slideContent = this.slides[this.currentSlide].content;
              this.media = this.slides[this.currentSlide].media;
              if(this.currentSlide+1 >= this.slides.length)
              {
                this.lastSlide = true;
              this.firstSlide = false;
              }
              else
              {
              this.lastSlide = false;
                this.firstSlide = false;
              }
            }
          }
        },
        mounted: function()
        {
          this.next();
        }
      });
    </script>
  </body>
</html>